body {
    background-color: black;
}
.header {
    background-color: chocolate;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

img {
    width: 200px;
    height: 200px
}
.img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
}
.img-item {
    margin: 0px;
}